@model CivilRegistrationMobile.Models.Applicant

@{
    ViewData["Title"] = "Данные о заявителе";

    int type = Model.ApplicationType;

    int firstVal = 0;
    int secondVal = 0;
    string firstText = "";
    string secondText = "";
    string labelText = "";


    if(type != 0){
        if(type == 1){
            labelText = @ViewBag.Whom;
            firstVal = 3;
            secondVal = 4;
            firstText = @ViewBag.ToFather;
            secondText = @ViewBag.ToMother;
        }
        else
        {
            labelText = @ViewBag.Which;
            firstVal = 2;
            secondVal = 1;
            firstText = @ViewBag.DeathPlace;
            secondText = @ViewBag.LastLivePlace;
        }
    }
}
@section Styles{
	<link rel="stylesheet" href="/css/navigation-styles.css">
    <link rel="stylesheet" href="/css/child-registration-content.css">
    <link rel="stylesheet" href="/css/applicant.css">
    <link rel="stylesheet" href="/css/image-block.css">
    <link rel="stylesheet" href="/css/optimization.css">
}
<form method="post" enctype="multipart/form-data" asp-action="ApplicantCreate" class="needs-validation" novalidate>

    <div class="accordion-body">
        <div class="form-group">
            <label asp-for="CurrentCountry" class="font-color">@ViewBag.Country</label>
            <selectOne id="countries" onchange="countryChange(this)" class="form-control"  asp-for="CurrentCountry" asp-items="Model.CountryList" multiple="multiple" required>

            </selectOne>
        </div>

        <div class="form-group">
            <label asp-for="CurrentRegion" class="font-color">@ViewBag.Region</label>
            <selectOne id="regions" onchange="regionChange(this)" class="form-control" asp-for="CurrentRegion" asp-items="Model.RegionList" multiple="multiple" required>
                <option selected="selected" disabled="disabled" value="">@ViewBag.ChooseRegion</option>
            </selectOne>
        </div>

        <div class="form-group">
            <label asp-for="CurrentCity" class="font-color">@ViewBag.City</label>
            <selectOne id="cities" onchange="cityChange(this)" class="form-control selectpicker" asp-for="CurrentCity" asp-items="Model.CityList" multiple="multiple" required>
                <option selected="selected" disabled="disabled" value="">@ViewBag.ChooseCity</option>
            </selectOne>
        </div>

        <div class="form-group">
            <label asp-for="CurrentVillage" class="font-color">@ViewBag.Village</label>
            <selectOne id="villages" class="form-control" asp-for="CurrentVillage" asp-items="Model.VillageList" multiple="multiple" >
                <option selected="selected" disabled="disabled" value="">@ViewBag.ChooseVillage</option>
            </selectOne>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="font-color">@ViewBag.LastName</label>
        <input id="lastName" type="text" class="form-control" asp-for="LastName" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="font-color">@ViewBag.Name</label>
        <input id="name" type="text" class="form-control" asp-for="Name" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Patronymic" class="font-color">@ViewBag.Patronymic</label>
        <input id="patronymic" type="text" class="form-control" asp-for="Patronymic">
    </div>

    <div class="form-group">
        <label asp-for="CurrentAddress" class="font-color">@ViewBag.CurrentAddress</label>
        <input id="currentAddress" type="text" class="form-control" asp-for="CurrentAddress" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TIN" class="font-color">@ViewBag.TIN</label>
        <input id="tin" type="number" minlength="9" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" class="form-control" asp-for="TIN" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PassportNumber" class="font-color">@ViewBag.PassportNumber</label>
        <input id="passportNumber" type="text" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="9" class="form-control" asp-for="PassportNumber" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="IssuingAuth" class="font-color">@ViewBag.IssuingAuth</label>
        <input id="issuingAuth" type="text" class="form-control" asp-for="IssuingAuth" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="font-color">@ViewBag.PhoneNumber</label>
        <input id="phoneNumber" type="tel" maxlength="15" class="form-control" asp-for="PhoneNumber" required>
        <div class="invalid-feedback">
            @ViewBag.FillField
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegisterTo" class="font-color">@labelText</label>
        <selectOne id="registerTo" class="form-control" asp-for="RegisterTo"  multiple="multiple" required>
            <option selected="selected" disabled="disabled" value="">@ViewBag.ChooseAddress</option>
                <option value="@firstVal">@firstText</option>
            <option value="@secondVal">@secondText</option>
        </selectOne>
            <div class="invalid-feedback">
                @ViewBag.ChooseAddress
            </div>
    </div>

    <div class="form-group" style="margin-bottom: 50px;">
        <label class="font-color" style="margin-bottom: 30px;">@ViewBag.Document</label>

        <div class="alert alert-warning alert-dismissible fade show d-none" role="alert">
            <strong>@ViewBag.ImageSize!</strong>
            <button onclick="closeAlert()" type="button" class="btn-close"></button>
        </div>

        <div class="wrapper">

            <div class="form-input" id="documentInput1">
                <button type="button" class="delete">
                    <img onclick="deleteImage(this)" class="delete-icon" src="~/images/close.png" alt="x">
                </button>

                <div class="preview">
                    <img class="file-ip-preview">
                </div>

                <label asp-for="DocumentPicture1">
                    <div class="inner">
                        <img class="file-ip-img" src="~/images/camera.png" alt="img">
                        <p class="file-ip-text">@ViewBag.TakePicture</p>
                    </div>
                </label>

                <input asp-for="DocumentPicture1" type="file" class="file-input" id="DocumentPicture1" accept="image/*" data-img-id="1"
                       onchange="showPreview(event);" required/>

                <div class="invalid-feedback">
                    @ViewBag.ChooseDocument
                </div>
            </div>

            <div class="form-input" id="documentInput2">
                <button type="button" class="delete">
                    <img onclick="deleteImage(this)" class="delete-icon" src="~/images/close.png" alt="x">
                </button>

                <div class="preview">
                    <img class="file-ip-preview">
                </div>

                <label asp-for="DocumentPicture2">
                    <div class="inner">
                        <img class="file-ip-img" src="~/images/camera.png" alt="img">
                        <p class="file-ip-text">@ViewBag.TakePicture</p>
                    </div>
                </label>

                <input asp-for="DocumentPicture2" type="file" class="file-input" id="DocumentPicture2" accept="image/*" data-img-id="2"
                       onchange="showPreview(event)" required/>

                <div class="invalid-feedback">
                    @ViewBag.ChooseDocument
                </div>
            </div>
        </div>
    </div>

    <div class="min-height">
        <input id="buttonInput" type="submit" value="@ViewBag.Next" class="btn btn-success form-control ">
    </div>
    
</form>

@section Scripts{
    <script src="~/lib/jquery/jquery-3.6.1.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/js/filters.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/js/image.block.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/applicantFields.js"></script>
}