@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Child
@{
    ViewData["Title"] = "Данные ребёнка";

    string hideClass = "hide";

    if (ViewBag.IsValid == 0)
    {
        hideClass = "";
    }

}

@section Styles{
    <link rel="stylesheet" href="~/css/navigation-styles.css">
    <link rel="stylesheet" href="~/css/child-registration-content.css">
    <link rel="stylesheet" href="~/css/applicant.css">
    <link rel="stylesheet" href="~/css/image-block.css">
    <link rel="stylesheet" href="~/css/optimization.css">
    <link rel="stylesheet" href="~/css/reason-window.css" />
}

<div class="title">
    <p>@ViewBag.ChildDetails</p>
</div>

<div class="mini-title">
    <p>
        @ViewBag.ChildTitle
    </p>
</div>



<form style="margin: 0 0 0 0" enctype="multipart/form-data" method="post" asp-action="ChildCreate" class="needs-validation" novalidate>
    
    <div id="reasonWindow" class="main-container @hideClass">
        <div class="reason-window">
            <div class="app-image">
                <div class="blob Service_declined">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c"
                         class="bi bi-exclamation-circle " viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0
                                .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </div>
            <div>
                <div class="reason-title">
                    @ViewBag.ReasonTitle
                </div>
                <div class="reason-text ">
                    <p id="reasonText"></p>
                </div>
            </div>
            <button onclick="hideReasonWindow()" id="buttonInput" class="btn reason-btn" type="button">OK</button>
        </div>
    </div>

<div class="accordion-body">
    <div class="form-group">
        <label asp-for="CurrentCountry" class="font-color">@ViewBag.Country</label>
        <selectOne id="countries" onchange="countryChange(this)" class="form-control" asp-for="CurrentCountry" asp-items="Model.CountryList" multiple="multiple" required>

        </selectOne>
    </div>

    <div class="form-group">
        <label asp-for="CurrentRegion" class="font-color">@ViewBag.Region</label>
        <selectOne id="regions" onchange="regionChange(this)" class="form-control" asp-for="CurrentRegion" asp-items="Model.RegionList" multiple="multiple" required>

        </selectOne>
    </div>

    <div class="form-group">
        <label asp-for="CurrentCity" class="font-color">@ViewBag.City</label>
        <selectOne id="cities" onchange="cityChange(this)" class="form-control selectpicker" asp-for="CurrentCity" asp-items="Model.CityList" multiple="multiple" required>

        </selectOne>
    </div>

    <div class="form-group">
        <label asp-for="CurrentVillage" class="font-color">@ViewBag.Village</label>
        <selectOne id="villages" class="form-control" asp-for="CurrentVillage" asp-items="Model.VillageList" multiple="multiple">

        </selectOne>
    </div>
</div>

<div class="form-group">
    <label asp-for="LastName" class="font-color">@ViewBag.LastName</label>
    <input id="lastName" type="text" class="form-control" asp-for="LastName" required/>
    <div class="invalid-feedback">
        @ViewBag.FillField
    </div>
</div>

<div class="form-group">
        <label asp-for="Name" class="font-color">@ViewBag.Name</label>

        <input asp-for="Name" oninput="showList(this.value)" onblur="hideList()" type="text" class="name form-control" id="name" required>
        <div id="namesList" class="list-group">

        </div>

        <div class="invalid-feedback">
            @ViewBag.ChooseName
        </div>
</div>

<div class="form-group">
    <label asp-for="Patronymic" class="font-color">@ViewBag.Patronymic</label>
    <input id="patronymic" type="text" class="form-control" asp-for="Patronymic">
</div>


<div class="form-group">
    <label asp-for="Sex" class="font-color">@ViewBag.Sex</label>
    <div id="sex" class="row">
        <div class="col">
            <div class="form-check">
                <input asp-for="Sex" value="@true" class="form-check-input" type="radio" id="sex1" required/>
                <label class="form-check-label" for="sex1">@ViewBag.Male</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check">
                <input asp-for="Sex" value="@false" class="form-check-input" type="radio" id="sex2" required/>
                <label class="form-check-label" for="sex2">@ViewBag.Female</label>
            </div>
        </div>
    </div>
    <div class="invalid-feedback">
        @ViewBag.ChooseSex
    </div>
</div>

<div class="form-group">

    <div id="birthday" class="row">
        <div class="col">
            <label asp-for="DateOfBirth" class="font-color w-100">@ViewBag.DateOfBirth</label>
            <img class="date-icon" src="~/images/calendar_icon.png"/>
            <input id="date" asp-for="DateOfBirth" class="datetime" type="date" required />
        </div>
        <div class="col">
            <label asp-for="TimeOfBirth" class="font-color w-100">@ViewBag.TimeOfBirth</label>
            <img class="date-icon" src="~/images/hour_icon.png"/>
            <input  asp-for="TimeOfBirth" class="datetime" type="time" required value="00:00:00"/>
        </div>
    </div>
    <div class="invalid-feedback">
        @ViewBag.ChooseDateTime
    </div>
</div>

<div class="form-group">
    <label asp-for="Birthplace" class="font-color">@ViewBag.BirthPlace</label>
    <input id="birthplace" asp-for="Birthplace" type="text" class="form-control" required/>
    <div class="invalid-feedback">
        @ViewBag.FillField
    </div>
</div>

<div class="form-group">
    <label asp-for="NewbornCount" class="font-color">@ViewBag.NewbornCount</label>
    <select id="newbornCount" asp-for="NewbornCount" class="form-control form-select" required>
        <option value="" selected="selected" disabled="disabled">...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
    <div class="invalid-feedback">
        @ViewBag.ChooseCount
    </div>
</div>

<div class="form-group">
    <label asp-for="ChildCount" class="font-color">@ViewBag.ChildrenCount</label>
    <input id="childCount" asp-for="ChildCount" type="number" class="form-control" value="1" step="1" min="1" max="15" required/>
    <div class="invalid-feedback">
       @ViewBag.From1To15
    </div>
</div>

<div class="form-group">
    <label for="childrenProperty" class="font-color">@ViewBag.ChildProperty</label>
    <div class="row">
        <div class="col">
            <label asp-for="Weight" style="margin: 0;">@ViewBag.Weight</label>
            <input id="weight" asp-for="Weight" type="number" min="100" max="9999" step="1" class="form-control" required/>
            <div class="invalid-feedback">
                @ViewBag.From100To9999
            </div>
        </div>
        <div class="col">
            <label asp-for="Height" style="margin: 0;">@ViewBag.Height</label>
            <input id="height" asp-for="Height" type="number" min="10" max="70" step="0.1" class="form-control" required/>
            <div class="invalid-feedback">
                @ViewBag.From10To70
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="PregnancyDuration" class="font-color">@ViewBag.PregnancyDuration</label>
    <input id="pregnancyDuration" asp-for="PregnancyDuration" type="number" step="1" min="20" max="50" class="form-control" required/>
    <div class="invalid-feedback">
        @ViewBag.From20To50
    </div>
</div>

<div class="form-group" style="margin-bottom: 50px;">
    <label for="photo" class="font-color" style="margin-bottom: 30px;">
        @ViewBag.NewbornDocument
    </label>

        <div class="alert alert-warning alert-dismissible fade hide show d-none" role="alert">
            <strong>@ViewBag.ImageSize!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <div class="wrapper">
        <div class="form-input" id="documentInput1">
            <button type="button" class="delete">
                <img onclick="deleteImage(this)" class="delete-icon" src="~/images/close.png" alt="x">
            </button>
            <div class="preview">
                <img class="file-ip-preview">
            </div>
            <label asp-for="DocumentPicture1">
                <div class="inner">
                    <img class="file-ip-img" src="~/images/camera.png" alt="img">
                    <p class="file-ip-text">@ViewBag.TakePicture</p>
                </div>
            </label>
            <input asp-for="DocumentPicture1" type="file" class="file-input" id="DocumentPicture1" accept="image/*" data-img-id="1"
                   onchange="showPreview(event)" required/>
            <div class="invalid-feedback">
                @ViewBag.ChooseDocument
            </div>
        </div>
        <div class="form-input">

        </div>
    </div>
</div>

<div class="min-height">
            <input id="buttonInput" type="submit" value="@ViewBag.Next" class="btn btn-success form-control">
</div>

</form>

@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/dates.js"></script>
    <script src="~/js/filters.js"></script>
    <script src="~/js/image.block.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/childFields.js"></script>
    <script src="~/js/names.js"></script>
    <script src="~/js/reasonWindow.js"></script>
}