@model IEnumerable<ApplicationTitle>

@{
	Layout = "/Views/Shared/_IndexLayout.cshtml";
	ViewData["Title"] = "Мои заявки";
}
@section Styles{

	<link rel="stylesheet" href="~/css/optimization.css" asp-append-version="true">
	<link rel="stylesheet" href="~/css/myApplications-style.css" asp-append-version="true">
}

@foreach (var item in Model)
{
    <div class="row mt-3">

        @if(@item.ApplicationStatus == 5)
        {
            <a class="text-none" onclick="showReasonWindow(@item.ApplicationID)">
                <div class="btn applications">
                    <div class="app-image">
                        <div class="blob @item.Blob">
                                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="@item.SvgFill"
                                    class="bi bi-exclamation-circle " viewBox="0 0 16 16">
                                    <path d="@item.PathD" />
                                </svg>
                        </div>
                    </div>
                    <div class="row w-100 row-cols-2 content-grid">
                        <div class="col-12 text-l  top-text">
                            @item.Title
                        </div>
                        <div class="col-6 text-l bot-text">@item.Date @item.Time</div>

                        <div class="col-6 text-r @item.BotTextColor bot-text">@item.BotText</div>

                    </div>
                </div>
            </a>
        }
        else
        {
            <a class="text-none" asp-action="@item.ActionName" asp-route-applicationId="@item.ApplicationID" asp-route-statusId="@item.ApplicationStatus" asp-route-typeID="@item.ApplicationType">
                <div class="btn applications">
                    <div class="app-image">
                        <div class="blob @item.Blob">

                            @if (item.ApplicationStatus == 6)
                            {
                                <div class="icon-loader"></div>
                                <div class="icon-loader2"></div>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="@item.SvgFill"
                                    class="bi bi-exclamation-circle " viewBox="0 0 16 16">
                                    <path d="@item.PathD" />
                                </svg>
                            }
                        </div> 
                    </div>
                    <div class="row w-100 row-cols-2 content-grid">
                        <div class="col-12 text-l  top-text">
                            @item.Title
                        </div>
                        <div class="col-6 text-l bot-text">@item.Date @item.Time</div>

                        <div class="col-6 text-r @item.BotTextColor bot-text">@item.BotText</div>

                    </div>
                </div>
            </a>
        }

  </div>
}

@section Scripts{
    <script src="~/js/sessionReset.js"></script>
    <script src="~/js/reasonWindow.js"></script>
}