@model IconsColor
@{
    ViewData["Title"] = "Заявление о госудаственной рождении ребёнка";
}

@section Styles{

    <link rel="stylesheet" href="~/css/navigation-styles.css">
    <link rel="stylesheet" href="~/css/child-registration-content.css">
    <link rel="stylesheet" href="~/css/applicant.css">
    <link rel="stylesheet" href="~/css/optimization.css">
    <link rel="stylesheet" href="~/css/reason-window.css" />
    <style>
       .accordion{
           margin-top: 10px;
       }

       .dropdown-item {
           padding: 0;
       }

       .accordion-item:last-of-type .accordion-button.collapsed {
           border-radius: 0.5rem !important;
           box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
       }

       .accordion-button:focus {
           background-color: #fff;
           color: #000;
       }

       .accordion-button::after {
           margin-right: 10px;
       }

       .child-checkbox {
           min-width: 40px;
           max-width: 40px;
           height: 100%;
           align-items: center;
           display: flex;
       }
    </style>
}
<div id="reasonWindow" class="main-container hide">
    <div class="reason-window">
        <div class="app-image">
            <div class="blob Service_declined">
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c"
                     class="bi bi-exclamation-circle " viewBox="0 0 16 16">
                    <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0
                                    .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </div>
        </div>
        <div>
            <div class="reason-title">
                @ViewBag.NotInOneYear
            </div>
            <div class="reason-text ">
                <p id="reasonText"></p>
            </div>
        </div>
        <button onclick="hideReasonWindow()" id="okBtn" class="btn reason-btn" type="button">OK</button>
    </div>
</div>
<div class="title-cbr">
    <p>@ViewBag.NewbornRegistration</p>
</div>
<div class="content-row">
    <a asp-action="ApplicantDetails" asp-controller="Application" class="rows" id="applicantDetails">
        <div class="btn row-button">
            <div class="content-icon">
                <img id="applicantImage" src="/images/@Model.OneImage">
                <div id="applicantIcon" class="blob dissmiss none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c" class="bi bi-exclamation-circle"
                        viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </div>
            </div>
            <div class="content-text">
                <p>@ViewBag.ApplicantDetails</p>
            </div>
        </div>
    </a>
</div>

<div class="content-row">
    <a id="childDetails" asp-action="ChildDetails" asp-controller="Application" class="rows" >
        <div class="btn row-button">
            <div class="content-icon">
                <img id="childImage" src="/images/@Model.TwoImage">
                <div id="childIcon" class="blob dissmiss none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c" class="bi bi-exclamation-circle"
                        viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </div>
            </div>
            <div class="content-text">
                <p>@ViewBag.ChildDetails</p>
            </div>
        </div>
    </a>
</div>

<div class="content-row">
    <a asp-action="FatherDetails" asp-controller="Application" class="rows" id="fatherDetails">
        <div class="btn row-button">
            <div class="content-icon">
                <img id="fatherImage" src="/images/@Model.ThreeImage">
                <div id="fatherIcon" class="blob dissmiss none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c" class="bi bi-exclamation-circle"
                        viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </div>
            </div>
            <div class="content-text">
                <p>@ViewBag.FatherDetails</p>
            </div>
        </div>
    </a>
</div>


<div class="content-row">
    <a asp-action="MotherDetails" asp-controller="Application" class="rows" id="motherDetails">
        <div class="btn row-button">
            <div class="content-icon">
                <img id="motherImage" src="/images/@Model.FourImage">
                <div id="motherIcon" class="blob dissmiss none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c" class="bi bi-exclamation-circle"
                        viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </div>
            </div>
            <div class="content-text">
                <p>@ViewBag.MotherDetails</p>
            </div>
        </div>
    </a>
</div>

<form class="flex">
    <div class="box-1">
        <div class="child-checkbox">
            <div class="round">
                <input onchange="checkFields()" type="checkbox" id="checkbox" />
                <label for="checkbox"></label>
            </div>
        </div>
        <div class="apply-text">
            @ViewBag.Agreement
        </div>
    </div>
    <div class="box-2">
        <a id="buttonLink" asp-action="Payment" asp-route-pageName="Payment" class="w-100 h-100">
            <input  id="buttonInput" class="btn flex-btn" type="button" value="@ViewBag.Continue">
        </a>
    </div>
</form>

@section Scripts{
    <script src="~/js/reasonWindow.js"></script>
    <script src="~/js/status.js"></script>
}