@model IEnumerable<Payment>

@section Styles{
    <link rel="stylesheet" href="~/css/navigation-styles.css">
    <link rel="stylesheet" href="~/css/child-registration-content.css">
    <link rel="stylesheet" href="~/css/applicant.css">
    <style>
        .flex-btn{
            display:flex;
            justify-content: center;
            align-items: center;
        }
    </style>
}

<div class="p-flex">
    <div class="payment-title">
        <p>@ViewBag.PaymentTitle</p>
    </div>
    <div class="p-box">
        <div class="top">
            <p>@ViewBag.Sum</p>
        </div>
        <div class="center">
            <p>
                <span id="sum">
                    @ViewBag.TotalPrice
                </span>
                <span id="currency">
                    TJS
                </span>
            </p>
        </div>
        <div class="bot">
            @foreach (var obj in Model)
            {
                <div class="bot-row">
                    <p>@obj.PaymentType</p>
                    <p>@obj.PaymentPrice</p>
                </div>
            }
            
        </div>
    </div>
    <div class="box-2">
        <a  asp-action="DeeplinkToAmonat" class="btn flex-btn w-100">@ViewBag.Continue</a>
    </div>
    
</div>