@model IEnumerable<Support>
@{
    ViewData["Title"] = "Тех поддержка";
    string supportUrl = "";
    string supportText = "";
    string supportIcon = "";
    int num = 0;
}

@section Styles{
	<link rel="stylesheet" href="~/css/navigation-styles.css">
	<link rel="stylesheet" href="~/css/child-registration-content.css">
	<link rel="stylesheet" href="~/css/applicant.css">
	<link rel="stylesheet" href="~/css/support-style.css">
}


<div class="title-support">
    <p>@ViewBag.Questions</p>
</div>

<div class="accordion" id="accordionExample">

    @foreach (var faq in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-@num">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-@num" aria-expanded="false" aria-controls="collapse-@num">
                    @faq.Question
                </button>
            </h2>
            <div id="collapse-@num" class="accordion-collapse collapse" aria-labelledby="heading-@num"
             data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @faq.Answer
                </div>
            </div>
        </div>

      num++;
    }

</div>




<div class="title-support">
  <p>@ViewBag.Contacts</p>
</div>


@foreach (SupportsResponse obj in ViewBag.Support)
{
    @switch (obj.SupportTypeID)
    {
        case 1:
            supportUrl = obj.SupportURL;
            supportIcon = "telephone.png";
            supportText = obj.SupportNumber;
            break;
        case 2:
            supportUrl = obj.SupportURL;
            supportIcon = "email.png";
            supportText = obj.SupportURL;
            break;
        default:
            break;
    }

    <div class="support-row">
        <a href="@supportUrl" class="rows">
        <div class="btn row-button">
          <div class="content-icon">
            <img src="/images/@supportIcon">
          </div>
          <div class="content-text">
            <p>@supportText</p>
          </div>
        </div>
      </a>
    </div>
}


@section Scripts{
    <script src="/js/support.js"></script>
}