@{
    string leftColor = String.Empty;
    string rightColor = String.Empty;
    string leftText = "";
    string rightText = "";
    if (ViewBag.PageName == "Index")
    {
        leftColor = "color-green";
        rightColor = "color-gray";
        leftText = "nav-selected-1";
        rightText = "nav-selected-0";
    }
    else
    {
        leftColor = "color-gray";
        rightColor = "color-green";
        leftText = "nav-selected-0";
        rightText = "nav-selected-1";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reason-window.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="reasonWindow" class="main-container hide">
        <div class="reason-window">
            <div class="app-image">
                <div class="blob Service_declined">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="#e74c3c"
                     class="bi bi-exclamation-circle " viewBox="0 0 16 16">
                        <path d="M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 
                                .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </div>
            <div>
                <div class="reason-title">
                    @ViewBag.ReasonTitle
                </div>
                <div class="reason-text ">
                     <p id="reasonText"></p>
                </div>
            </div>
            <button onclick="hideReasonWindow()" id="buttonInput" class="btn reason-btn" type="button">OK</button>
        </div>
    </div>
    <div class="container content"> 
        <div>
            <div class="header">
                <div class="navigation-header">
                    <div class="image">
                        <a asp-action="Index" asp-controller="General" class="d-flex h-100">
                            <img src="~/images/left-arrow.png">
                        </a>
                    </div>
                    <p>@ViewBag.Civil</p>
                    @if (ViewBag.PageName == "Index")
                    {
                        <div class="image_2-div" >
                            
                        </div>
                    }
                    else{
                        <a class="image_2" id="filter" asp-action="ApplicationFilter" asp-controller="General" asp-route-pageName="ApplicationFilter">
                            <img src="~/images/filter_icon.png">
                        </a>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col navigation-bar">
                    <a asp-action="Index" asp-route-pageName="Index" asp-controller="General" class="width-height">
                        <div class="btn width-height">
                            <p class="@leftText">
                                @ViewBag.NewApplication
                            </p>
                        </div>
                        <div class="col navigation-footer @leftColor"></div>
                    </a>
                </div>
                <div class="col navigation-bar">
                    <a asp-action="MyApplications" asp-route-pageName="MyApplications" asp-controller="General"  class="width-height">
                        <div class="btn width-height">
                            <p class="@rightText">
                                @ViewBag.MyApplications
                            </p>
                        </div>
                        <div class="col navigation-footer @rightColor"></div>
                    </a>
                </div>
            </div>
            @RenderBody()
        </div>

        @if(ViewBag.PageName == "Index")
        {
            <div class="bot-content-d">
                <a class="bot-nav-box" asp-action="RegistryOffices" asp-controller="General">
                    <img src="/images/courthouse.svg">
                    <p class="bot-nav-text">@ViewBag.RegistryOffice</p>
                </a>
                <a class="bot-nav-box" asp-action="Support" asp-controller="General">
                    <img src="/images/support.svg" alt="">
                    <p class="bot-nav-text">@ViewBag.Support</p>
                </a>
            </div>
        }
        else
        {
            <div class="bot-content-d"></div>
        }
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
